body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #1f2937;
}

ul {
    padding-left: 20px;
}
nav {
    margin-top: 20px;
}

    nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
        font-weight: bold;
    }

        nav a:hover {
            text-decoration: underline;
        }
html {
    scroll-behavior: smooth;
}
section {
    max-width: 900px;
    margin: 30px auto;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
    margin-top: 40px;
}
